@model Department

<form action="~/Department/ActualCreate">

    <label for="Id">Dpartment Id</label>
    <input type="number" name="Id" />

    <br />
    <hr />
    <br />

    <label for="Name">Department Name</label>
    <input type="Text" name="Name" />

    <input type="submit" value="Add" class="btn btn-success"/>
    <a href="~/Department/GetAll" class="btn btn-secondary">Cancel</a>

</form>